body{
    backdrop-filter: blur(15px) grayscale(0.4);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;

}

.box{
    max-width:960px;
    margin:auto;
    padding:0 30px;
}

#show-case{
    height:300px;
}
#show-case h1{
    font-size:50px;
    line-height:1.3;
    position:relative;
    animation:heading;
    animation-duration:5s;
    animation-fill-mode:forwards;
    padding:20px;
}
@keyframes heading{
    0%{top:-300px;}
    100%{top:200px;}
}
#content{
    position:relative;
    animation-name: content;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
#content p{
    font-size:30px;
}
#content a {
    color:blue;
}

@keyframes content{
    0%{left:-2000px;}
    100%{left:0;}
}

nav{
    opacity:0;
    animation-name:btn;
    animation-duration:6s;
    animation-delay:3s;
    animation-fill-mode:forwards;
    
}
@keyframes btn{
    0%{opacity:0}
    100%{opacity:1}
}












































































@media(max-width:600px){
    #show-case h1{
        font-size:25px;
        line-height:1.3;
        position:relative;
        animation:heading;
        animation-duration:3s;
        animation-fill-mode:forwards;
    }
    
    
#content p{
    font-size:18px;
}

}



